ul.sidebar-menu span.icon-box  {
    
    padding: 10px;
    margin-right: 10px;
}
 

#sidebar.closed,#sidebar1.closed {
    display: none;
}

#sidebar > ul ,#sidebar1 > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

#sidebar > ul > li ,#sidebar1 > ul > li {
    display: block;
    margin: 0 0 1px 0;
    padding: 0;
    border: 0px;
    background: url("../img/side-bar-list-bg.png");
    line-height: 32px;
    transition: border 0.2s ease 0s;
}

#sidebar > ul > li > a,#sidebar1 > ul > li > a {
    display: block;
    position: relative;
    margin: 0;
    border: 0px;
    padding: 0px 10px 0px 0;
	padding-left: 15px;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    text-decoration: none;
    color: #A8353D;
    font-size: 18px;

	font-weight:bold; 
	border-bottom: 1px solid #E6E6E6;
    line-height: 32px;
    position: relative;
    transition: border 0.2s ease 0s;
}

#sidebar > ul > li a i ,#sidebar1 > ul > li a i {
    color:#eaeaea;
    font-size: 18px;
}

#sidebar > ul > li.active > a,#sidebar1 > ul > li.active > a{
    border: none;
}


#sidebar > ul > li.active > a .arrow ,#sidebar1 > ul > li.active > a .arrow {
    margin-right: 1px;
}

#sidebar > ul > li.active > a .arrow.open,#sidebar1 > ul > li.active > a .arrow.open {
    margin-right: 0px;
}


#sidebar ul > li > a .arrow,#sidebar1 ul > li > a .arrow {
     float: right;
    margin-top: 13px;
    margin-right: 5px;
    width: 0;
    height: 0;
    border-left: 4px solid #A8353D;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

#sidebar > ul > li > a .arrow.open,#sidebar1 > ul > li > a .arrow.open {
    float: right;
    margin-top: 13px;
    margin-right: 3px;
    width: 0;
    height: 0;
    border-top: 5px solid #A8353D;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

#sidebar > ul > li > ul.sub,#sidebar1 > ul > li > ul.sub  {
    display: none;
    list-style: none;
    clear: both;
    margin: 0px;
}

#sidebar > ul > li.active > ul.sub ,#sidebar1 > ul > li.active > ul.sub {
    display: block;
}

#sidebar > ul > li > ul.sub > li,#sidebar1 > ul > li > ul.sub > li {
    background: none !important;
    padding: 0px;
}

#sidebar > ul > li > ul.sub > li > a,#sidebar1 > ul > li > ul.sub > li > a {
     display: block;
    position: relative;
    padding: 2px 10px 2px 20px;
  
    text-decoration: none;
 
    font-size: 14px;
}

#sidebar > ul > li > ul.sub > li.active > a, #sidebar > ul > li > ul.sub > li > a:hover ,#sidebar1 > ul > li > ul.sub > li.active > a, #sidebar1 > ul > li > ul.sub > li > a:hover {

    background: url("../img/submenu_hover.png") !important;
}

 
 

.ie9 #sidebar > ul > li.active > a .triangle ,.ie9 #sidebar1 > ul > li.active > a .triangle {
    right: -1px;
}

 

/* ie8 fixes */
.ie8 #sidebar,.ie8 #sidebar1 {
    position: absolute;
    width: 215px;
}

.ie8 #sidebar ul,.ie8 #sidebar1 ul{
    margin-top:47px;
    width: 215px;
}